body {
       font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   }

   a, h1, h2 {
       color: #377ba8;
   }

   h1, h2 {
       margin: 0;
   }

   h1 {
       border-bottom: 0.5px solid #eee;
   }

   h2 {
       font-size: 1.2em;
       text-align: center;
   }

   #table_style {

       font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
       border-collapse: collapse;
       width: 100%;
   }

   #table_style td, #table_style th {
       border: 5px solid #ddd;
       padding: 8px;
   }

   #table_style tr:hover {
       background-color: #FFC8B4;
   }

   #table_style th {
       padding-top: 12px;
       padding-bottom: 12px;

       background-color: #4CAF50;
       color: white;
   }

   #table_style table {

       margin-left: auto;
       margin-right: auto;
   }


